<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark head-fix">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Trailer App</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li [ngClass]="{'nav-item active': itm.parents.length == 0, 'nav-item dropdown': itm.parents.length > 0 }" *ngFor="let itm of headers" style="padding: 0 5px;">
        <a *ngIf="itm.parents.length == 0" class="nav-link" routerLink="/store/{{itm.text}}">{{itm.text}} <span class="sr-only">(current)</span></a>
     
        <a *ngIf="itm.parents.length > 0" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{itm.text}}
        </a>
        <div *ngIf="itm.parents.length > 0" class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a  *ngFor="let subItm of itm.parents"  class="dropdown-item" href="#">{{subItm.text}}</a>        
        </div>
     
      </li>
    </ul>
    <div class="my-2 my-lg-0">
        <a class="nav-link" [routerLink]="['../../','login']">Login </a>
        <!-- <a class="nav-link" routerLink="/login">Login </a> -->
    </div>
  </div>
</nav>