.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 222;
  top: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #222, #333);
  overflow-x: hidden;
  transition: 0.5s;
  margin-top: 56px;
}

.sidenav a {
  padding: 1px 0 1px 10px;
  font-size: 14px;
  color: white;
  display: block;
  min-width: 100px;
  text-decoration: none !important;
  letter-spacing: 1px;
  margin: 0 auto;
}

.sidenav .categories:hover {
  background: #f1f1f1;
  color: black;
}

.sidenav .close-btn {
  font-size: 36px;
  color: white;
}

.left-btn {
  padding: 10px;
  background-color: #9575cd;
  transition: 1s;
  position: fixed; top:50%; left:0; color:black;z-index: 2;border-top-right-radius: 25%;
  color:white;
  border-bottom-right-radius: 25%;
  cursor: pointer;
}
