<div (swipeleft)="closeNav()">
  <div id="left-btn" class="left-btn"   (click)="openNav()" >
        <i class="fa fa-2x fa-film" aria-hidden="true"></i>
  </div>
  <div id="mySidenav" class="sidenav" (swipeleft)="closeNav()">
      <div class="categories" style="margin: 0 20px;">
          <div class="row">
            <div class="col-sm-12">
                <a href="javascript:void(0)" class="close-btn text-right" (click)="closeNav()">&times;</a>
            </div>
              <div class="text-center" *ngFor="let item of categories">
                    <a href>
                        {{item.TurkishName}}
                   </a>
              </div>
          </div>
      </div>
     
    </div>
</div>